<?php
/**
 * @file      AblePolecat-Mod-PhpMarkdown/etc/polecat/conf/path.config
 * @brief     Supplemental Able Polecat project path configuration settings file.
 * @author    Karl Kuhrman
 * @copyright Copyright © 2015 Able Distributors Inc. All rights reserved.
 */

if (!defined('ABLEPOLECAT_MOD_PHPMARKDOWN_PATH')) {
  $ABLEPOLECAT_MOD_PHPMARKDOWN_PATH = dirname(dirname(__DIR__));
  define('ABLEPOLECAT_MOD_PHPMARKDOWN_PATH', $ABLEPOLECAT_MOD_PHPMARKDOWN_PATH);
}
if (!defined('ABLEPOLECAT_MOD_PHPMARKDOWN_SRC_PATH')) {
  $ABLEPOLECAT_MOD_PHPMARKDOWN_SRC_PATH = implode(DIRECTORY_SEPARATOR, array(ABLEPOLECAT_MOD_PHPMARKDOWN_PATH, 'usr', 'src'));
  define('ABLEPOLECAT_MOD_PHPMARKDOWN_SRC_PATH', $ABLEPOLECAT_MOD_PHPMARKDOWN_SRC_PATH);
}